#side_bar
  <b>Uploaded by: </b>#{@record.owner} <b>at</b> <code>#{@uploaded_at}</code>
  %p
  %b Description:
  %br #{@record.desc}

  %p #{@record.likes.count} Likes
  %form{:action=>"/like", :method=>"post", :enctype=>"multipart/form-data"}
    %input{:type=>"hidden", :name => "liked_by", :value=>"#{session[:user]}"}
    %input{:type=>"hidden", :name => "photo_id", :value=>"#{@record.id}"}
    %input{:type=>"submit", :value=>"Like"}

  %h3 Liked By:
  %ul
  - @record.likes.each do |like|
    %li #{like.liked_by}

#content

  %center
    %img{ :src => @photo }

  #warning DELETE Photo
  %form{:action=>"/delete", :method=>"post", :enctype=>"multipart/form-data"}
    %input{:type=>"hidden", :name => "photo_id", :value=>"#{@record.id}"}
    %input{:type=>"submit", :value=>"Delete"}
